<div class="section text-center section-landing">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="title">Description</h2>
            <h5 class="description">Code Enigma is a coding and hackathon based competition being organized by the Software Engineering Association, SRM University, Chennai. It’s a 3 round competition in which the first two rounds are purely coding based and the last round is a full blown 20 hours’ hackathon. This event gives students an opportunity to experience two of the most popular code based competitive formats that are prevalent today. They are exposed to real world problems in terms of small sets of code in the first two rounds and finally exposed to the big picture in the final hackathon round. This is a unique format being implemented by the Software Association to help encourage students to look into both aspects of competitive programming and help improve their skill sets. We are sure this outlook will be appreciated and will generate participation not only among seasoned coders but also among amateurs and those who are new to coding.</h5>
        </div>
    </div>

    <div class="features">
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-primary">
                        <i class="fa fa-shield" aria-hidden="true"></i>
                    </div>
                    <h4 class="info-title">Code-a-Bit</h4>
                    <p>Round 1</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-success">
                        <i class="fa fa-shield" aria-hidden="true"></i>
                    </div>
                    <h4 class="info-title">Open Brackets</h4>
                    <p>Round 2</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="fa fa-shield" aria-hidden="true"></i>
                    </div>
                    <h4 class="info-title">Hackathon</h4>
                    <p>Round 3</p>
                </div>
            </div>
        </div>
    </div>
</div>
