<div class="section">
    <h2 class="title text-center">Rules</h2>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h5 class="title">General Rules:</h5>
            <p class="description"><b>1.</b>Code Enigma is a coding and hackathon based competition being organized by the Software Engineering Association, SRM University, Chennai..</p>
            <p class="description"><b>1.</b>Code Enigma is a coding and hackathon based competition being organized by the Software Engineering Association, SRM University, Chennai..</p>
            <p class="description"><b>1.</b>Code Enigma is a coding and hackathon based competition being organized by the Software Engineering Association, SRM University, Chennai..</p>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <h5 class="title">Equipments:</h5>
            <p class="description"><b>1.</b>Code Enigma is a coding and hackathon based competition being organized by the Software Engineering Association, SRM University, Chennai..</p>
            <p class="description"><b>1.</b>Code Enigma is a coding and hackathon based competition being organized by the Software Engineering Association, SRM University, Chennai..</p>
            <p class="description"><b>1.</b>Code Enigma is a coding and hackathon based competition being organized by the Software Engineering Association, SRM University, Chennai..</p>
        </div>
    </div>
</div>
